/* fill viewport, hide scroll bar */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
    width: 70%;
    font-size: 20px;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 30px;
    background: #000000;
    border: 10;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font: bold;
}

.dark {
    padding: 15px;
    background: #000000;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background: #000000;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0px 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    padding: 2;
}

header nav {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

header .highlight {
    border: 1px solid white;
    font-size: 40px;
    padding: 5px;
}

header a:hover {
    border: 1px solid white;
}

header .current a {
    font-weight: bold;
    border: none;
    border-bottom: 1px solid white;
}


/* Showcase */

#showcase {
    min-height: 400px;
    background: url('img/bg-home.jpg') no-repeat 0 -300px;
    text-align: center;
    color: black;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px white;
    /*rohan*/
    animation: slider 9s infinite linear;
    /*rohan*/
}


/*rohan start*/

@keyframes slider {
    0% {
        background: url('img/bg-home.jpg');
    }
    35% {
        background: url('img/homebg.jpg');
    }
    75% {
        background: url('img/homebg1.jpg');
    }
    100% {
        background: url('img/bg-home.jpg');
    }
}


/*ROHAN END*/

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}


/* Book Appointment */

#bookapt {
    padding: 15px;
    color: #ffffff;
    background: #000000;
}

#bookapt h1 {
    float: left;
}

#bookapt form {
    float: right;
    margin-top: 15px;
}

#bookapt input[type="tel"],
input[type="text"],
input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 200px;
}


/*loader ka style hai*/

body {
    width: 100%;
    overflow-x: hidden;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
}


/* Boxes */

#boxes {
    margin-top: 30px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 200px;
}


/* rohan shuru*/

#splitwala {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

#splitwala html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#splitwala h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#splitwala .buttonn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

#splitwala .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

#splitwala .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

#splitwala .container {
    position: relative;
    width: 100%;
    height: 60%;
    background: var(--container-bg-color);
}

#splitwala .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#splitwala .split.left {
    left: 0;
    background: url('img/doctorlog.jpg') center center no-repeat;
    /* background: url('img/homebg1.jpg') center center no-repeat; */
    background-size: cover;
}

#splitwala .split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

#splitwala .split.right {
    right: 0;
    background: url('img/app.jpg') center center no-repeat;
    background-size: cover;
}

#splitwala .split.right:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
}

#splitwala .split.left,
#splitwala .split.right,
#splitwala .split.right:before,
#splitwala .split.left:before {
    transition: var(--speed) all ease-in-out;
}

#splitwala .hover-left .left {
    width: var(--hover-width);
}

#splitwala .hover-left .right {
    width: var(--other-width);
}

#splitwala .hover-left .right:before {
    z-index: 2;
}

#splitwala .hover-right .right {
    width: var(--hover-width);
}

#splitwala .hover-right .left {
    width: var(--other-width);
}

#splitwala .hover-right .left:before {
    z-index: 2;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    .button {
        width: 12rem;
    }
}

@media(max-height: 700px) {
    .buttonn {
        top: 70%;
    }
}


/*rohan over*/


/*rohan fir shuru*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
}

.testimonial-section {
    background-color: silver;
    padding: 80px 0;
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.testimonial-section h1 {
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 40px;
}

.testimonial-pics {
    padding: 40px 0;
}

.testimonial-pics img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 20px;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
}

.testimonial-pics img:hover,
.testimonial-pics img.active {
    filter: none;
}

.testimonial-contents {
    max-width: 600px;
    margin: auto;
}

.testimonial {
    display: none;
}

.testimonial.active {
    display: block;
}

.testimonial p {
    background-color: silver;
    margin-bottom: 20px;
    font-size: 23px;
    color: floralwhite;
}

.testimonial .description {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
}


/* Sidebar */

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}


/* Main-col */

article#main-col {
    float: left;
    width: 65%;
}


/* Media Queries */

@media(max-width: 1360px) {
    #bookapt h1 {
        text-align: center;
        float: none;
    }
    #bookapt form {
        text-align: center;
        float: none;
    }
}

@media(max-width: 895px) {
    header #branding,
    header nav,
    header nav li,
    #button h1,
    #button form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 10px;
    }
    #bookapt button,
    .quote button {
        display: block;
        width: 100%;
    }
    #bookapt h1 {
        text-align: center;
        float: none;
    }
    #bookapt form {
        text-align: center;
        float: none;
    }
    #bookapt form input[type="email"],
    #bookapt form input[type="text"],
    #bookapt form input[type="tel"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        float: none;
    }
}

@media (max-width: 600px) {
    html {
        width: 600px;
        overflow: auto;
    }
}


/* doctor*/

* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

.services-section {
    background: url('img/bgdocto.jpg');
    background-size: cover;
    padding: 60px 0;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
}

.border {
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon {
    background: #82ccdd;
    color: #ddd;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 14px;
}

@media screen and (max-width:960px) {
    .service-box {
        max-width: 45%;
    }
}

@media screen and (max-width:768px) {
    .service-box {
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box {
        max-width: 100%;
    }
}


/*CONTACT US*/


/* covers all content - Includes scroll-snap-type */

.main {
    display: block;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.alt-text {
    color: #ff0000;
}

.alt-text:hover {
    color: transparent;
    text-shadow: 0 0 5px rgba(170, 130, 45, 0.5);
}

body {
    font-family: 'Work Sans';
}

.front-cont {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.front {
    padding: 0;
    margin: 0;
    background: radial-gradient(#000000 30%, #191B1E);
    width: 100%;
    height: 100%;
    transform: scale(1);
    scroll-snap-align: start;
    scroll-margin-top: 200px;
    transition-duration: 1s;
    z-index: -1;
    box-shadow: 4px 4px 30px black;
    animation: shift-front 2s ease-in-out;
}

#contact_cont {
    scroll-snap-align: start;
    scroll-margin-top: 8vh;
    height: 160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    background: radial-gradient(#000000 30%, #191B1E);
    box-shadow: 4px 4px 30px black;
    color: white;
}

#contact {
    width: 100%;
}

#contact>h1 {
    width: 100%;
    margin: 0px;
    text-align: center;
    height: 40px;
    color: white;
    font-size: 40px;
    padding: 0;
    font-weight: 300;
}

#contact>p {
    letter-spacing: 1px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
}

.social-icons-alt {
    margin-top: 30px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.ftxt {
    margin-top: 30px;
    text-align: left;
    font-size: 13px;
}

.iconsalt {
    display: inline;
    width: 50px;
    padding: inherit;
    margin: 5px;
    transition: all 1s;
}

.iconsalt:hover {
    -webkit-filter: blur(2px);
    /* Chrome, Safari, Opera */
    filter: blur(2px);
}

.content-cover {
    position: relative;
    padding-top: 12vh;
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 1s;
}

.dark {
    color: black;
}

.front-text {
    text-align: center;
}

.front-text>p {
    color: rgba(170, 130, 45, 0.5);
    font-weight: bolder;
    font-size: 300px;
    text-transform: uppercase;
}

#contactin>h1 {
    width: 100%;
    margin: 0px;
    text-align: left;
    height: 40px;
    color: white;
    font-size: 90px;
    padding: 0;
    font-weight: 300;
}

#contactin>p {
    letter-spacing: 1px;
    margin-top: 50px;
    text-align: left;
    font-size: 20px;
}


/* TESTIMO IN CONTACTUS*/


/* Slideshow container */

.slideshow-container {
    position: relative;
    height: 400px;
    background: #c47e7ef1;
    width: 100%;
}


/* Slides */

.mySlides {
    display: none;
    padding: 60px;
    text-align: center;
    font-size: 50px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


/* The dot/bullet/indicator container */

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #717171;
}


/* Add an italic font style to all quotes */

q {
    font-style: italic;
}


/* Add a blue color to the author */

.author {
    color: cornflowerblue;
}


/*.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
  text-align: center;
}*/

.button {
    border: 2px solid black;
    background-color: white;
    border: none;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.info {
    border-color: #2196F3;
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/*Services old footer*/


/*
ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer {
    padding: 50px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #74a8fc;
    text-align: center;
}

footer #footer-left {
    float: left;
    display: inline;
}

footer a {
    color: #ffffff;
}
*/